.outer-signup__container {
  background-color: #d4e7f8;
  padding: 0 .2rem .2rem;
  border-radius: .1rem;
  border: 3px outset;
  background-color: #dadad1;
}

.header {
  background: linear-gradient(90deg, #003386, #bed6e0);
  padding: 2px 0;
  margin-bottom: 5px;
  display: flex;
}

.header p {
  margin: 0px;
  padding: 4px 6px;
  color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: 3px;
  display: flex;
}

.box {
  height: 15px;
  width: 15px;
  background-color: lightgray;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-minimize {
  width: 70%;
  margin-top: auto;
  margin-bottom: 2px;
  border-bottom: 2px solid black;
}

.box-maximize {
  width: 60%;
  height: 50%;
  border: 1px solid black;
  border-top: 2px solid black;
}

.box-exit {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: black;
}

.box-exit-right {
  transform: rotate(135deg);
}

.box-exit-left {
  transform: rotate(45deg);
}

.menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  border: outset;
}

.menu p {
  margin: 4px 6px;
  font-size: .9rem;
}