.outer-login__container {
  background-color: #d4e7f8;
  padding: 0 .2rem .2rem;
  border-radius: .1rem;
  border: 3px outset;
  background-color: #dadad1;
}

.header {
  background: linear-gradient(90deg, #003386, #bed6e0);
  padding: 2px 0;
  margin-bottom: 5px;
  display: flex;
}

.header p {
  margin: 0px;
  padding: 4px 6px;
  color: #ffffff;
}

.container {
  margin-left: auto;
  margin-right: 3px;
  display: flex;
}

.box {
  height: 15px;
  width: 15px;
  background-color: lightgray;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-minimize {
  width: 70%;
  margin-top: auto;
  margin-bottom: 2px;
  border-bottom: 2px solid black;
}

.box-maximize {
  width: 60%;
  height: 50%;
  border: 1px solid black;
  border-top: 2px solid black;
}

.box-exit {
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: black;
}

.box-exit-right {
  transform: rotate(135deg);
}

.box-exit-left {
  transform: rotate(45deg);
}

.menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  border: outset;
}

.menu p {
  margin: 4px 6px;
  font-size: .9rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  color: #0f1679;
  font-weight: 400;
  padding: 10px 22px 2px;
}

.inputs input {
  border: 1.7px solid #97a7cb;
  border-radius: 2px;
  align-self: center;
  width: 80%;
  height: 25px;
}

.signin-btn {
  color: #0f1679;
  font-weight: 600;
  width: 50%;
  padding: .3rem 1rem;
  border: 1.5px solid #878788;
  margin-right: 10px;
  border-radius: 3px;
  display: inline;
  margin-right: 10px;
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dad3c9', GradientType=0);
}

.signin-btn:hover,
.signin-btn:focus {
  cursor: pointer;
  outline: 0;
  border: 1.5px solid #97a7cb;
}

.signin-btn:active {
  background: #dad3c9;
  background: -moz-linear-gradient(top, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dad3c9', endColorstr='#f6f6f6', GradientType=0);
}

.signin {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.inner-login__container {
  border: outset 1.5px #c0c3d2;
  border-radius: .2rem .2rem 0rem 0rem;
  background: linear-gradient(180deg, rgba(248, 249, 252, 1) 0%, rgba(207, 223, 237, 1) 40%);
}

.login-title {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  color: #1f1f1f;
}

.login-footer {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.login-link {
  padding-bottom: 1rem;
}