.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  color: #0f1679;
  font-weight: 400;
  padding: 10px 22px 2px;
}

.inputs input {
  border: 1.7px solid #97a7cb;
  border-radius: 2px;
  align-self: center;
  width: 80%;
  height: 25px;
}

.signup-btn {
  color: #0f1679;
  font-weight: 600;
  width: 50%;
  padding: .3rem 1rem;
  border: 1.5px solid #878788;
  margin-right: 10px;
  border-radius: 3px;
  display: inline;
  margin-right: 10px;
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#dad3c9', GradientType=0);
}

.signup-btn:hover,
.signup-btn:focus {
  cursor: pointer;
  outline: 0;
  border: 1.5px solid #97a7cb;
}

.signup-btn:active {
  background: #dad3c9;
  background: -moz-linear-gradient(top, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
  background: -webkit-linear-gradient(top, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#dad3c9', endColorstr='#f6f6f6', GradientType=0);
}

.signup {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.inner-signup__container {
  border: outset 1.5px #c0c3d2;
  border-radius: .2rem .2rem 0rem 0rem;
  background: linear-gradient(180deg, rgba(248, 249, 252, 1) 0%, rgba(207, 223, 237, 1) 40%);
}

.signup-footer {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.signup-footer p {
  color: #1f1f1f;
}

.signup-title {
  text-align: center;
  padding: 1rem 1rem 0 1rem;
  color: #1f1f1f;
}